@import "../utils/colors.scss";
@import "../utils/mixins";

.nav-cus {
  position: relative;
}
.top-nav {
  height: 50px;
  background-color: $main;
  position: relative;
  &-all {
    height: 60px;
    @include flex(center, space-between);
    font-size: 14px;
    .top-nav__left {
      color: $nav-text-color;
    }
    .top-nav__right .nav__right__elements {
      @include flex();
      > li {
        @include padding(0, 20px, 0, 20px);
        > a {
          color: $nav-text-color;
        }
      }
      .nav__right__currency {
        border-right: 1px solid $nav-text-color;
        & a i {
          font-size: 12px;
        }
      }
      .nav__right__language {
        & a i {
          font-size: 12px;
        }
      }
      .nav__right__currency:hover .drop-down__currency {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
      }
      .nav__right__language:hover .drop-down__language {
        transform: translateX(0px);
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .drop-down__currency {
    width: 150px;
    height: 100px;
    background-color: $nav-text-color;
    border: 1px solid $border;
    position: absolute;
    right: 250px;
    top: 34px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(14px);
    @include transition;
    z-index: 122;
    & ul {
      @include padding(15px, 15px, 20px, 15px);
      > li {
        @include padding(5px, 0px, 3px, 0px);
        > a {
          color: #666666;
        }
        > a:hover {
          color: $main;
          @include transition;
        }
      }
    }
  }

  .drop-down__language {
    width: 150px;
    height: 100px;
    background-color: $nav-text-color;
    border: 1px solid $border;
    position: absolute;
    right: 130px;
    top: 34px;
    @include transition;
    opacity: 0;
    visibility: hidden;
    transform: translateY(14px);
    @include transition;
    z-index: 122;
    & ul {
      @include padding(15px, 15px, 20px, 15px);
      > li {
        @include padding(5px, 0px, 3px, 0px);
        > a {
          color: $a-color;
        }
        > a:hover {
          color: $main;
          @include transition;
        }
      }
    }
  }
}
.main-nav {
  display: flex;
  height: 100%;
  align-items: center;
  @include padding(52px, 0px, 30px, 0px);
  &__links {
    ul:first-of-type {
      font-weight: 500;
      li {
        margin-right: 20px;
        & a {
          color: $navlinks;
          @include transition;
          @include padding(80px, 0, 100px, 0px);
          i {
            font-size: 12px;
          }
        }
      }
      li a#hm {
        color: $main;
        text-transform: uppercase;
      }
      li a#pg,
      a#bg,
      a#cu,
      a#sp {
        text-transform: uppercase;
      }
      > li:hover {
        a#pg,
        a#sp,
        a#bg,
        a#cu {
          color: $main;
        }
      }
      li#home:hover .drop-down__home {
        transform: translateY(0px);
        opacity: 1;
        transition: 0.2s linear all;
        visibility: visible;
      }
      li#pages:hover .drop-down__pages {
        transform: translateY(0px);
        opacity: 1;
        transition: 0.2s linear all;
        visibility: visible;
      }
      li#shop:hover .drop-down__shop {
        transform: translateY(0px);
        opacity: 1;
        transition: 0.2s linear all;
        visibility: visible;
      }

      li#blog:hover .drop-down__blog {
        transform: translateY(0px);
        opacity: 1;
        transition: 0.2s linear all;
        visibility: visible;
      }
    }
  }

  .drop-down__home {
    width: 220px;
    height: 110px;
    background-color: $nav-text-color;
    border: 1px solid $border;
    position: absolute;
    left: 454px;
    top: 100%;
    @include transition;
    z-index: 122;
    transform: translateY(14px);
    opacity: 0;
    visibility: hidden;
    & ul {
      @include padding(15px, 15px, 20px, 15px);
      > li {
        @include padding(5px, 0px, 3px, 0px);
        > a {
          color: $a-color;
          padding: unset;
        }
        > a:hover {
          color: $main;
          @include transition;
        }
      }
    }
  }
  .drop-down__pages {
    width: 1188px;
    height: 214px;
    background-color: $nav-text-color;
    border: 1px solid $border;
    position: absolute;
    left: 108px;
    top: 100%;
    @include transition;
    z-index: 122;
    transform: translateY(14px);
    opacity: 0;
    visibility: hidden;
    & ul {
      @include padding(15px, 15px, 20px, 15px);
      > li {
        @include padding(6px, 14px, 6px, 14px);
        font-size: 14px;
        > a {
          color: $a-color;
          padding: unset;
        }
        > a:hover {
          color: $main;
          @include transition;
        }
      }
      & li:first-child {
        font-size: 16px;
        font-weight: 500;
        > a {
          color: $navlinks;
        }
      }
    }
    .cols:hover .title {
      color: $main;
      @include transition;
    }
  }
  .main-nav__icons {
    ul {
      justify-content: flex-end;
      position: relative;
      > li#set,
      li#search,
      li#bag {
        @include padding(0, 26px);
        font-size: 24px;
        & a {
          color: $navlinks;
        }
        a:hover {
          color: $main;
          @include transition;
        }

        .drop-down__icons {
          width: 150px;
          height: 129px;
          background-color: $nav-text-color;
          border: 1px solid $border;
          position: absolute;
          left: 26%;
          top: 46px;
          @include transition;
          z-index: 122;
          transform: translateY(14px);
          opacity: 0;
          visibility: hidden;
          font-size: 14px;
          ul {
            width: 100%;
            height: 100%;
            padding: 20px;
            li {
              padding: 5px;
            }
          }
        }
      }
      li#set:hover .drop-down__icons {
        transform: translateY(0px);
        opacity: 1;
        transition: 0.2s linear all;
        visibility: visible;
      }
      & li:last-child div {
        width: 18px;
        height: 18px;
        font-size: 12px;
        text-align: center;
        border-radius: 50%;
        position: absolute;
        background-color: $main;
        color: $nav-text-color;
        top: 2px;
        right: 20px;
      }
    }
  }
  .drop-down__shop {
    width: 220px;
    height: 144px;
    background-color: $nav-text-color;
    border: 1px solid $border;
    position: absolute;
    left: 42%;
    top: 100%;
    @include transition;
    z-index: 122;
    transform: translateY(14px);
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    & ul {
      @include padding(24px, 15px, 24px, 15px);
      > li {
        @include padding(5px, 0px, 3px, 0px);
        > a {
          color: $a-color;
          padding: unset;
          i {
            font-size: 12px;
          }
        }
        > a:hover {
          color: $main;
          @include transition;
        }
        .drop-down__shop--shopGrid {
          width: 250px;
          height: 178px;
          background-color: $nav-text-color;
          border: 1px solid $border;
          position: absolute;
          left: 100%;
          top: 10%;
          @include transition;
          z-index: 122;
          transform: translateY(14px);
          opacity: 0;
          visibility: hidden;
        }
        .drop-down__shop--shopList {
          width: 220px;
          height: 150px;
          background-color: $nav-text-color;
          border: 1px solid $border;
          position: absolute;
          left: 100%;
          top: 34%;
          @include transition;
          z-index: 122;
          transform: translateY(14px);
          opacity: 0;
          visibility: hidden;
        }
        .drop-down__shop--productDetails {
          width: 250px;
          height: 178px;
          background-color: $nav-text-color;
          border: 1px solid $border;
          position: absolute;
          left: 100%;
          top: 54%;
          @include transition;
          z-index: 122;
          transform: translateY(14px);
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    ul > li#grid:hover .drop-down__shop--shopGrid {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
    }
    ul > li#list:hover .drop-down__shop--shopList {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
    }
    ul > li#product:hover .drop-down__shop--productDetails {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
    }
  }
  .drop-down__blog {
    width: 220px;
    height: 250px;
    background-color: $nav-text-color;
    border: 1px solid $border;
    position: absolute;
    left: 48%;
    top: 100%;
    @include transition;
    z-index: 122;
    transform: translateY(14px);
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    & ul {
      @include padding(20px, 5px, 20px, 5px);
      > li {
        @include padding(5px, 0px, 3px, 0px);
        > a {
          color: $a-color;
          padding: unset;
        }
        > a:hover {
          color: $main;
          @include transition;
        }
      }
    }
  }
}
@media (max-width: 991) {
  .top-nav {
    display: none;
  }
}
