@import "../utils/colors.scss";
@import "../utils/mixins";

.main-carousel {
  position: relative;

  &__image {
    width: 100%;
  }
  &__content {
    position: absolute;
    top: 130px;
    left: 100px;
    width: 400px;
    height: 224px;
    color: $nav-text-color;
    > p:first-child {
      font-size: 18px;
    }
    > h2 {
      font-size: 50px;
      font-weight: 600;
    }
    > button {
      border: none;
      height: 54px;
      width: 176px;
      border-radius: 30px;
      > a {
        color: $navlinks;
      }
    }
    > button:hover {
      background-color: $navlinks;
      transition: 0.3s ease-in all;
      a {
        color: $main;
      }
    }
  }
}

.owl-prev {
  width: 46px;
  height: 46px;
  background-color: white !important;
  position: absolute;
  top: 50%;
  left: 30px;
  @include transition;
}
.owl-prev:hover {
  background-color: $main !important;
}
.owl-next:hover {
  background-color: $main !important;
}

.owl-next {
  width: 46px;
  height: 46px;
  position: absolute;
  background-color: white !important;
  top: 50%;
  right: 30px;
  @include transition;
}
//  //
.colorful-cards {
  margin: 50px 0;
  display: flex;
  &__card {
    @include padding(26px, 30px, 26px, 30px);
    height: 110px;
    .card__desc {
      @include padding(0px, 0px, 0px, 20px);
      color: $navlinks;
      > h4 {
        text-transform: uppercase;
        font-size: 18px;
      }
    }
  }
  &__card#first-card {
    background-color: $first-card;
    margin-right: 14px;
    margin-bottom: 10px;
  }
  &__card#second-card {
    background-color: $second-card;
    margin-right: 14px;
    margin-bottom: 10px;
  }
  &__card#third-card {
    background-color: $third-card;
    margin-right: 14px;
  }
  .col-lg-4 {
    padding: 0;
  }
}
.title-products {
  text-align: center;
  color: $navlinks;
  > h2 {
    font-weight: 600;
  }
  p {
    font-size: 18px;
    margin: 0;
  }
}
.product {
  border: 1px solid $border;
  border-radius: 6px;
  height: 390px;
  max-width: 270px;
  text-align: center;
  position: relative;
  z-index: 1;
  &__image {
    overflow: hidden;
    @include transition;

    > img {
      width: 100%;
      @include transition;
    }
  }

  &__desc {
    > h3 {
      font-size: 18px;
      a {
        color: $navlinks;
      }
    }
    > h3:hover {
      > a {
        color: $main;
        @include transition;
      }
    }
    > span {
      font-size: 18px;
      color: $navlinks;
    }
    > del {
      font-size: 16px;
      color: $a-color;
    }
  }
  .product__icons {
    display: flex;
    justify-content: center;
    position: absolute;
    color: $main;
    z-index: 99999;
    @include transition;

    &__wishlist {
      width: 46px;
      @include transition;

      height: 46px;
      border-radius: 50%;
      border: 1px solid $main;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 999;
      position: absolute;
      top: 32px;
      left: 116px;
      //   right: 132px;
      background-color: white;
    }
    &__addtocard {
      @include transition;

      width: 46px;
      height: 46px;
      border-radius: 50%;
      border: 1px solid $main;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 99;
      top: 32px;
      left: 116px;
      //   left: 40px;
      background-color: white;
    }
    &__quickview {
      @include transition;

      width: 46px;
      height: 46px;
      border-radius: 50%;
      border: 1px solid $main;
      z-index: 99;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 32px;
      left: 116px;
      right: 72px;
      background-color: white;
    }
    &__quickview:hover {
      background-color: $main;
      color: $nav-text-color;
    }
    &__addtocard:hover {
      background-color: $main;
      color: $nav-text-color;
    }
    &__wishlist:hover {
      background-color: $main;
      color: $nav-text-color;
    }
  }
}
.product:hover {
  cursor: pointer;
  img {
    transform: scale(1.2);
  }
  @include transition;
  border: 1px solid $main;
  .product__icons {
    &__addtocard {
      left: 40px;
    }
    &__quickview {
      left: 180px;
    }
  }
}
#owlcard {
  margin: 20px;
  .owl-stage-outer {
    height: 450px;
  }
}

// scale

.scale {
  position: relative;
  &__left {
    .image {
      overflow: hidden;
      img {
        width: 100%;
        @include transition;
      }
    }
  }
  &__right {
    .image {
      overflow: hidden;
      position: relative;
      right: 24px;
      img {
        width: 100%;
        @include transition;
      }
    }
  }
  &__right:hover {
    .image img {
      transform: scale(1.1);
      filter: brightness(70%);
    }
  }
  &__left:hover {
    .image img {
      transform: scale(1.1);
      filter: brightness(70%);
    }
  }
  .desc {
    position: absolute;
    bottom: 70px;
    text-transform: uppercase;
    color: $nav-text-color;
  }
}
.blog {
  .title {
    text-align: center;
    margin: 40px 0;
    h2 {
      font-weight: 600;
      color: $navlinks;
    }
    p {
      font-size: 18px;
      color: $a-color;
    }
  }
  .blog-product {
    margin: 50px 0;
    width: 100%;
    height: 100%;

    .desc {
      color: $navlinks;
      line-height: 30px;
      p {
        font-size: 18px;
        font-weight: 600;
        @include transition;
      }
      ul {
        li {
          font-size: 14px;

          span:first-child {
            font-weight: 600;
          }
        }
      }
      a {
        color: $navlinks;
        font-size: 16px;
        font-weight: 500;
        @include transition;
      }
      p:hover {
        color: $main;
        cursor: pointer;
      }
      a:hover {
        color: $main;
      }
    }
  }
}
// forth section

.third {
  .title {
    text-align: center;
    margin: 40px 0;
    h2 {
      font-weight: 600;
      color: $navlinks;
    }
    p {
      font-size: 18px;
      color: $a-color;
    }
  }
  .top-item {
    > .slide-item {
      display: flex;
      margin-left: 14px;
      width: 370px;
      height: 200px;
      @include transition;
      .item-image {
        overflow: hidden;
        > img {
          width: 100%;
          height: 100%;
          @include transition;
        }
      }
      .item-content {
        color: $navlinks;
        margin-left: 14px;

        .title {
          @include transition;
          h5 {
            font-size: 16px;
          }
        }
        .title:hover {
          color: $main;
          cursor: pointer;
        }
      }
      .icons {
        > .icon {
          width: 46px;
          height: 46px;
          background-color: #f6f6f6;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          @include transition;
        }
        > .icon:hover {
          background-color: $main;
          color: $nav-text-color;
          cursor: pointer;
        }
      }
    }
  }
  .slide-item:hover {
    .item-image {
      img {
        transform: scale(1.1);
      }
    }
  }
  .bottom-item {
    margin-top: 4px;
    > .slide-item {
      display: flex;
      margin-left: 14px;
      width: 370px;
      height: 200px;
      @include transition;
      .item-image {
        overflow: hidden;
        > img {
          width: 100%;
          height: 100%;
          @include transition;
        }
      }
      .item-content {
        color: $navlinks;
        margin-left: 14px;

        .title {
          @include transition;
          h5 {
            font-size: 16px;
          }
        }
        .title:hover {
          color: $main;
          cursor: pointer;
        }
      }
      .icons {
        > .icon {
          width: 46px;
          height: 46px;
          background-color: #f6f6f6;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          @include transition;
        }
        > .icon:hover {
          background-color: $main;
          color: $nav-text-color;
          cursor: pointer;
        }
      }
    }
    .slide-item:hover {
      .item-image {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}
// last section

.last-section {
  .image {
    width: 180px;
    height: 60px;
    margin: 80px 0;

    > img {
      opacity: 0.3;
      @include transition;
    }
    > img:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}
.image-left {
  img {
    width: 100%;
    cursor: pointer;
  }
}

@media (max-width: 991px) {
  .main-carousel {
    &__image {
      height: 350px;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .main-carousel__content {
    position: absolute;
    top: 44px;
    left: 12px;
    h2 {
      font-size: 30px;
    }
  }
  .owl-prev {
    display: none !important;
  }
  .owl-next {
    display: none !important;
  }

  .colorful-cards {
    display: block;
    &__card#first-card {
      height: 154px;
    }
    &__card#second-card {
      height: 154px;
    }
    &__card#third-card {
      height: 154px;
    }
  }
  .scale {
    &__right {
      position: relative;
      right: -24px;
      .desc {
        position: relative;
        bottom: 64px;
        right: 22px;
      }
    }
    &__left {
      .desc {
        position: relative;
        bottom: 64px;
      }
    }
  }
  .bottom-item {
    margin-top: 20px;
    .slide-item {
      display: block !important;
    }
  }
  .top-item {
    margin-top: 20px;
    .slide-item {
      display: block !important;
    }
  }
}
// @media (max-width: 767px) {
//   .product__icons__wish {
//   }
// }
