@import "../utils/colors.scss";
@import "../utils/mixins";

.title-section {
  background-image: url(https://htmldemo.net/juan/juan/assets/img/banner/breadcrumb-banner.jpg);
  &__title {
    text-align: center;
    color: $navlinks;
    @include padding(55px, 0, 55px, 0px);
    h5 {
      font-size: 24px;
      font-weight: 600;
    }
    a {
      font-size: 16px;
      @include transition;
      color: $navlinks;
    }
    a span.active {
      color: $main;
    }
    a:hover {
      color: $main;
      cursor: pointer;
    }
  }
}
.active-select {
  opacity: 1 !important;
  visibility: visible !important;
}
.categories {
  color: $navlinks;
  h5 {
    font-size: 20px;
  }
  &__options {
    > ul > li {
      line-height: 40px;
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      @include transition;
      a {
        color: $navlinks;
        @include transition;
      }
    }
    ul > li:hover {
      color: $main;
      a {
        color: $main;
      }
    }
  }
}
.color {
  color: $navlinks;
  h5 {
    font-size: 20px;
  }
  &__options {
    > ul > li {
      line-height: 40px;
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      @include transition;
      a {
        color: $navlinks;
        @include transition;
      }
    }
    ul > li:hover {
      color: $main;
      a {
        color: $main;
      }
    }
  }
}
.size {
  color: $navlinks;
  h5 {
    font-size: 20px;
  }
  &__options {
    > ul > li {
      line-height: 40px;
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      @include transition;
      a {
        color: $navlinks;
        @include transition;
      }
    }
    ul > li:hover {
      color: $main;
      a {
        color: $main;
      }
    }
  }
}
.padding {
  padding-top: 62px;
}
.advertising {
  > img {
    width: 100%;
  }
  margin: 30px 0;
}

.row-pad {
  padding-top: 62px;
  flex-wrap: wrap-reverse;
}

// range

::selection {
  color: #fff;
  background: $main;
}
.wrapper {
  width: 310px;
  background: $nav-text-color;
  border-radius: 10px;
  padding: 30px 0px 50px 0px;
  border: none;
}
header h2 {
  color: $navlinks;
  font-size: 24px;
  font-weight: 500;
}
.price-input {
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
}
.price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: none;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: $main;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: $main;
  pointer-events: auto;
  -webkit-appearance: none;
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: $main;
  pointer-events: auto;
  -moz-appearance: none;
}

// Change pages

.animationleft {
  animation: leftanime 1s forwards;
  @keyframes leftanime {
    from {
      opacity: 0;
      transform: translateX(30%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
.animationscale {
  animation: scaleanime 1s forwards;
  @keyframes scaleanime {
    from {
      opacity: 0;
      transform: scale(0.7);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
.change-icons {
  // &__icon--right {
  //   width: 46px;
  //   height: 46px;
  //   background-color: #9e9e9e;
  //   margin-right: 10px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   color: $nav-text-color;
  //   @include transition;
  //   i {
  //     font-size: 20px;
  //   }
  // }
  // &__icon.active {
  //   background-color: $main;
  // }
  // &__icon:hover {
  //   background-color: $main;
  //   cursor: pointer;
  // }

  .change-icons__icon--left {
    width: 46px;
    height: 46px;
    background-color: #9e9e9e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $nav-text-color;
    @include transition;
    margin-left: 29px;
    margin-right: 6px;
    i {
      font-size: 20px;
    }
  }
  .active {
    background-color: $main;
  }
  // .change-icons__icon--left.active {
  //   background-color: $main;
  // }
  .change-icons__icon--right.active {
    background-color: $main;
  }
  .change-icons__icon--right {
    width: 46px;
    height: 46px;
    background-color: #9e9e9e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $nav-text-color;
    @include transition;
    i {
      font-size: 20px;
    }
  }
  .change-icons__icon--right:hover {
    background-color: $main;
    color: $nav-text-color;
    cursor: pointer;
  }
  .change-icons__icon--left:hover {
    background-color: $main;
    color: $nav-text-color;
    cursor: pointer;
  }
}

// Select

.selection {
  display: flex;
  align-items: center;
  color: $a-color;
  position: relative;
  &__select {
    width: 200px;
    height: 42px;
    border: 1px solid $border;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin: 0 20px;
    @include transition;
    i {
      margin-left: 50px;
    }
  }
  &__select:hover {
    cursor: pointer;
    border-color: #dbdbdb;
  }
  &__items {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear;
    position: absolute;
    top: 46px;
    left: 86px;
    box-shadow: 0 0 0 1px #f5f5f5;
    border-radius: 6px;
    background-color: $nav-text-color;
    z-index: 1222;
    &__item {
      width: 200px;
      height: 38px;
      display: flex;
      align-items: center;
      padding-left: 18px;
      font-size: 14px;
      @include transition;
    }
    &__item.active {
      font-weight: 600;
      color: $a-color;
    }
    &__item:hover {
      background-color: #f6f6f6;
      cursor: pointer;
    }
  }
}
.card-product {
  .item-card {
    margin: 30px;
    .product {
      width: 400px;
    }
  }
}

// change pages

@media (max-width: 991px) {
  .selection {
    display: block;
    text-align: center;
  }
  .sm-change {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .selection__select {
    margin: 0 auto;
  }
  .selection__items {
    position: absolute;
    top: 70px;
    left: 72px;
  }
}
// card second
.act {
  transform: translateX(0px);
  display: block !important ;
}
.cards-second {
  margin-top: 30px;
  display: none;
  transform: translateX(50px);
  @include transition;
  .card-list {
    margin-bottom: 30px;
    display: flex;
    border: 1px solid $border;
    padding: 12px;
    &__image {
      border: 1px solid $border;
      margin-right: 20px;

      overflow: hidden;
      width: 550px;
      height: 282px;
      img {
        width: 100%;
        height: 100%;
        @include transition;
      }
    }
    &__desc {
      color: $a-color;
      p {
        margin-top: 20px;
        margin-bottom: 40px;
      }
      a:first-of-type:hover {
        color: $main;
      }
      a {
        color: $navlinks;
        @include transition;
      }
      span {
        color: $navlinks;
      }
      a:not(:first-child) {
        padding: 14px;
        background-color: #f6f6f6;
        margin-right: 12px;
        font-size: 20px;
      }
      a:not(:first-child):hover {
        background-color: $main;
        color: $nav-text-color;
      }
    }
  }
  .card-list:hover {
    .card-list__image {
      img {
        transform: scale(1.2);
      }
    }
  }
}
.cards-first {
  display: none;
}
