$main: #e3a51e;
$nav-text-color: white;
$navlinks: #333333;
$border: #e5e5e5;
$a-color: #666666;
$first-card: #fcedda;
$second-card: #f2fbcb;
$third-card: #f7d8f9;
$footer: #f0f0f0;
$footer-bottom: #e4e4e4;
