nav {
  z-index: 12;
}

.nav-cus {
  position: relative;
}

.top-nav {
  height: 50px;
  background-color: #e3a51e;
  position: relative;
}

.top-nav-all {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

.top-nav-all .top-nav__left {
  color: white;
}

.top-nav-all .top-nav__right .nav__right__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-nav-all .top-nav__right .nav__right__elements > li {
  padding: 0 20px 0 20px;
}

.top-nav-all .top-nav__right .nav__right__elements > li > a {
  color: white;
}

.top-nav-all .top-nav__right .nav__right__elements .nav__right__currency {
  border-right: 1px solid white;
}

.top-nav-all .top-nav__right .nav__right__elements .nav__right__currency a i {
  font-size: 12px;
}

.top-nav-all .top-nav__right .nav__right__elements .nav__right__language a i {
  font-size: 12px;
}

.top-nav-all .top-nav__right .nav__right__elements .nav__right__currency:hover .drop-down__currency {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.top-nav-all .top-nav__right .nav__right__elements .nav__right__language:hover .drop-down__language {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
  visibility: visible;
}

.top-nav .drop-down__currency {
  width: 150px;
  height: 100px;
  background-color: white;
  border: 1px solid #e5e5e5;
  position: absolute;
  right: 250px;
  top: 34px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(14px);
          transform: translateY(14px);
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
  z-index: 122;
}

.top-nav .drop-down__currency ul {
  padding: 15px 15px 20px 15px;
}

.top-nav .drop-down__currency ul > li {
  padding: 5px 0px 3px 0px;
}

.top-nav .drop-down__currency ul > li > a {
  color: #666666;
}

.top-nav .drop-down__currency ul > li > a:hover {
  color: #e3a51e;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.top-nav .drop-down__language {
  width: 150px;
  height: 100px;
  background-color: white;
  border: 1px solid #e5e5e5;
  position: absolute;
  right: 130px;
  top: 34px;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(14px);
          transform: translateY(14px);
  transition: 0.2s ease-in all;
  z-index: 122;
}

.top-nav .drop-down__language ul {
  padding: 15px 15px 20px 15px;
}

.top-nav .drop-down__language ul > li {
  padding: 5px 0px 3px 0px;
}

.top-nav .drop-down__language ul > li > a {
  color: #666666;
}

.top-nav .drop-down__language ul > li > a:hover {
  color: #e3a51e;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 52px 0px 30px 0px;
  position: relative;
}

.main-nav__mobile__icons {
  display: none;
}

.main-nav__mobile__icons .bottom-container {
  width: 100%;
  background: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__mobile__icons ul li {
  margin-right: 10px;
}

.main-nav__mobile__icons ul li a {
  color: #333333;
}

.main-nav__links ul:first-of-type {
  font-weight: 500;
}

.main-nav__links ul:first-of-type li {
  margin-right: 20px;
}

.main-nav__links ul:first-of-type li a {
  color: #333333;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
  padding: 80px 0 100px 0px;
}

.main-nav__links ul:first-of-type li a i {
  font-size: 12px;
}

.main-nav__links ul:first-of-type li a#hm {
  color: #e3a51e;
  text-transform: uppercase;
}

.main-nav__links ul:first-of-type li a#pg,
.main-nav__links ul:first-of-type a#bg,
.main-nav__links ul:first-of-type a#cu,
.main-nav__links ul:first-of-type a#sp {
  text-transform: uppercase;
}

.main-nav__links ul:first-of-type > li:hover a#pg,
.main-nav__links ul:first-of-type > li:hover a#sp,
.main-nav__links ul:first-of-type > li:hover a#bg,
.main-nav__links ul:first-of-type > li:hover a#cu {
  color: #e3a51e;
}

.main-nav__links ul:first-of-type li#home:hover .drop-down__home {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  visibility: visible;
}

.main-nav__links ul:first-of-type li#pages:hover .drop-down__pages {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  visibility: visible;
  z-index: 2;
}

.main-nav__links ul:first-of-type li#shop:hover .drop-down__shop {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  visibility: visible;
}

.main-nav__links ul:first-of-type li#blog:hover .drop-down__blog {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  visibility: visible;
}

.main-nav .drop-down__home {
  width: 220px;
  height: 110px;
  background-color: white;
  border: 1px solid #e5e5e5;
  position: absolute;
  left: 328px;
  top: 100%;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
  -webkit-transform: translateY(14px);
          transform: translateY(14px);
  opacity: 0;
  visibility: hidden;
}

.main-nav .drop-down__home ul {
  padding: 15px 15px 20px 15px;
}

.main-nav .drop-down__home ul > li {
  padding: 5px 0px 3px 0px;
}

.main-nav .drop-down__home ul > li > a {
  color: #666666;
  padding: unset;
}

.main-nav .drop-down__home ul > li > a:hover {
  color: #e3a51e;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.main-nav .drop-down__pages {
  width: 100%;
  min-height: 214px;
  background-color: white;
  border: 1px solid #e5e5e5;
  position: absolute;
  left: 12px;
  top: 100%;
  z-index: 3;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
  -webkit-transform: translateY(14px);
          transform: translateY(14px);
  opacity: 0;
  visibility: hidden;
}

.main-nav .drop-down__pages ul {
  padding: 15px 15px 20px 15px;
}

.main-nav .drop-down__pages ul > li {
  padding: 6px 14px 6px 14px;
  font-size: 14px;
}

.main-nav .drop-down__pages ul > li > a {
  color: #666666;
  padding: unset;
}

.main-nav .drop-down__pages ul > li > a:hover {
  color: #e3a51e;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.main-nav .drop-down__pages ul li:first-child {
  font-size: 16px;
  font-weight: 500;
}

.main-nav .drop-down__pages ul li:first-child > a {
  color: #333333;
}

.main-nav .drop-down__pages .cols:hover .title {
  color: #e3a51e;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.main-nav .main-nav__icons ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.main-nav .main-nav__icons ul > li#set,
.main-nav .main-nav__icons ul li#search,
.main-nav .main-nav__icons ul li#bag {
  padding-top: 0;
  padding-right: 26px;
  font-size: 24px;
}

.main-nav .main-nav__icons ul > li#set a,
.main-nav .main-nav__icons ul li#search a,
.main-nav .main-nav__icons ul li#bag a {
  color: #333333;
}

.main-nav .main-nav__icons ul > li#set a:hover,
.main-nav .main-nav__icons ul li#search a:hover,
.main-nav .main-nav__icons ul li#bag a:hover {
  color: #e3a51e;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.main-nav .main-nav__icons ul > li#set .drop-down__icons,
.main-nav .main-nav__icons ul li#search .drop-down__icons,
.main-nav .main-nav__icons ul li#bag .drop-down__icons {
  width: 150px;
  height: 129px;
  background-color: white;
  border: 1px solid #e5e5e5;
  position: absolute;
  left: 34%;
  top: 46px;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
  z-index: 122;
  -webkit-transform: translateY(14px);
          transform: translateY(14px);
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
}

.main-nav .main-nav__icons ul > li#set .drop-down__icons ul,
.main-nav .main-nav__icons ul li#search .drop-down__icons ul,
.main-nav .main-nav__icons ul li#bag .drop-down__icons ul {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.main-nav .main-nav__icons ul > li#set .drop-down__icons ul li,
.main-nav .main-nav__icons ul li#search .drop-down__icons ul li,
.main-nav .main-nav__icons ul li#bag .drop-down__icons ul li {
  padding: 5px;
}

.main-nav .main-nav__icons ul li#set:hover .drop-down__icons {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  visibility: visible;
}

.main-nav .main-nav__icons ul li:last-child div {
  width: 18px;
  height: 18px;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  background-color: #e3a51e;
  color: white;
  top: 2px;
  right: 20px;
}

.main-nav .drop-down__shop {
  width: 220px;
  height: 144px;
  background-color: white;
  border: 1px solid #e5e5e5;
  position: absolute;
  left: 40%;
  top: 100%;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
  z-index: 122;
  -webkit-transform: translateY(14px);
          transform: translateY(14px);
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
}

.main-nav .drop-down__shop ul {
  padding: 24px 15px 24px 15px;
}

.main-nav .drop-down__shop ul > li {
  padding: 5px 0px 3px 0px;
}

.main-nav .drop-down__shop ul > li > a {
  color: #666666;
  padding: unset;
}

.main-nav .drop-down__shop ul > li > a i {
  font-size: 12px;
}

.main-nav .drop-down__shop ul > li > a:hover {
  color: #e3a51e;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.main-nav .drop-down__shop ul > li .drop-down__shop--shopGrid {
  width: 250px;
  height: 178px;
  background-color: white;
  border: 1px solid #e5e5e5;
  position: absolute;
  left: 100%;
  top: 10%;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
  z-index: 122;
  -webkit-transform: translateY(14px);
          transform: translateY(14px);
  opacity: 0;
  visibility: hidden;
}

.main-nav .drop-down__shop ul > li .drop-down__shop--shopList {
  width: 220px;
  height: 150px;
  background-color: white;
  border: 1px solid #e5e5e5;
  position: absolute;
  left: 100%;
  top: 34%;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
  z-index: 122;
  -webkit-transform: translateY(14px);
          transform: translateY(14px);
  opacity: 0;
  visibility: hidden;
}

.main-nav .drop-down__shop ul > li .drop-down__shop--productDetails {
  width: 250px;
  height: 178px;
  background-color: white;
  border: 1px solid #e5e5e5;
  position: absolute;
  left: 100%;
  top: 54%;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
  z-index: 122;
  -webkit-transform: translateY(14px);
          transform: translateY(14px);
  opacity: 0;
  visibility: hidden;
}

.main-nav .drop-down__shop ul > li#grid:hover .drop-down__shop--shopGrid {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.main-nav .drop-down__shop ul > li#list:hover .drop-down__shop--shopList {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.main-nav .drop-down__shop ul > li#product:hover .drop-down__shop--productDetails {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.main-nav .drop-down__blog {
  width: 220px;
  height: 250px;
  background-color: white;
  border: 1px solid #e5e5e5;
  position: absolute;
  left: 46%;
  top: 100%;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
  z-index: 122;
  -webkit-transform: translateY(14px);
          transform: translateY(14px);
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
}

.main-nav .drop-down__blog ul {
  padding: 20px 5px 20px 5px;
}

.main-nav .drop-down__blog ul > li {
  padding: 5px 0px 3px 0px;
}

.main-nav .drop-down__blog ul > li > a {
  color: #666666;
  padding: unset;
}

.main-nav .drop-down__blog ul > li > a:hover {
  color: #e3a51e;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

@media (max-width: 991px) {
  .top-nav {
    display: none;
  }
  .main-nav {
    padding: 14px 0;
  }
  .main-nav__links ul li {
    display: none;
  }
  .main-nav__icons {
    display: none;
  }
  .main-nav__mobile__icons {
    display: block;
  }
}

.blog-product .image img {
  width: 100%;
}

.blog-product .image iframe {
  width: 100%;
}

.blog-product .desc a {
  color: #333333;
}

.blog-title .title-section {
  background-image: url(https://htmldemo.net/juan/juan/assets/img/banner/breadcrumb-banner.jpg);
}

.blog-title .title-section__title {
  text-align: center;
  color: #333333;
  padding: 55px 0 55px 0px;
}

.blog-title .title-section__title h5 {
  font-size: 24px;
  font-weight: 600;
}

.blog-title .title-section__title a {
  font-size: 16px;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
  color: #333333;
}

.blog-title .title-section__title a span.active {
  color: #e3a51e;
}

.blog-title .title-section__title a:hover {
  color: #e3a51e;
  cursor: pointer;
}

.blog-single-title .title-section {
  background-image: url(https://htmldemo.net/juan/juan/assets/img/banner/breadcrumb-banner.jpg);
}

.blog-single-title .title-section__title {
  text-align: center;
  color: #333333;
  padding: 55px 0 55px 0px;
}

.blog-single-title .title-section__title h5 {
  font-size: 24px;
  font-weight: 600;
}

.blog-single-title .title-section__title a {
  font-size: 16px;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
  color: #333333;
}

.blog-single-title .title-section__title a span.active {
  color: #e3a51e;
}

.blog-single-title .title-section__title a:hover {
  color: #e3a51e;
  cursor: pointer;
}

.main-content__image {
  width: 870px;
  height: 564px;
}

.main-content__image > img {
  width: 100%;
  height: 100%;
}

.main-content__desc {
  margin-top: 30px;
  color: #333333;
}

.main-content__desc h5 {
  font-size: 24px;
  font-weight: 600;
}

.main-content__desc ul > li > span:first-child {
  font-weight: 600;
  font-size: 14px;
}

.main-content blockquote {
  border-left: 6px solid #e3a51e;
  margin: 25px 30px;
  padding: 15px;
  background-color: #f8f8f8;
}

.comments h5 {
  padding-bottom: 14px;
  font-weight: 600;
}

.comments__comment > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  margin-bottom: 20px;
  color: #666666;
  border: 1px solid #e5e5e5;
}

.comments__comment > li .comment__image {
  width: 60px;
  height: 62px;
  margin-right: 14px;
}

.comments__comment > li .comment__image img {
  width: 40px;
  height: 40px;
}

.comments__comment > li:nth-child(2) {
  margin-left: 40px;
}

.comments .comment__desc {
  position: relative;
}

.comments .comment__desc span {
  font-size: 14px;
  font-weight: 500;
}

.comments .comment__desc > p:first-of-type {
  font-size: 13px;
}

.comments .comment__desc--btn {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 34px;
  width: 80px;
  padding: 4px 14px;
  border-radius: 20px;
  border: 1px solid #e5e5e5;
  text-align: center;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.comments .comment__desc--btn button {
  border: none;
  background-color: transparent;
  font-size: 12px;
}

.comments .comment__desc--btn:hover {
  background-color: #e3a51e;
  color: white;
  cursor: pointer;
}

::-webkit-input-placeholder {
  font-style: italic;
  font-size: 12px;
}

:-ms-input-placeholder {
  font-style: italic;
  font-size: 12px;
}

::-ms-input-placeholder {
  font-style: italic;
  font-size: 12px;
}

::placeholder {
  font-style: italic;
  font-size: 12px;
}

.write-comment {
  color: #333333;
  margin: 50px 0;
}

.write-comment h5 {
  font-size: 20px;
  font-weight: 600;
}

.write-comment label {
  font-weight: 500;
  margin: 10px 0;
  display: block;
}

.write-comment textarea {
  background-color: #f8f8f8;
  width: 100%;
  height: 130px;
  border: none;
  outline: none;
  padding: 18px;
}

.write-comment input {
  background-color: #f8f8f8;
  border: none;
  outline: none;
  padding: 14px;
  width: 100%;
  height: 44px;
}

.write-comment .btn-submit {
  margin-top: 30px;
  width: 176px;
  height: 46px;
}

.write-comment .btn-submit > input {
  background-color: #333333;
  color: orange;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.write-comment .btn-submit:hover > input {
  background-color: #e3a51e;
  color: white;
}

.right {
  margin: 0px 40px;
}

.right .right-card {
  width: 270px;
  height: 270px;
  border: 1px solid #e5e5e5;
}

.right .right-card__image {
  width: 100%;
  height: 138px;
}

.right .right-card__image img {
  width: 100%;
  height: 100%;
}

.right .right-card__desc {
  text-align: center;
  padding: 20px;
}

.right .right-card__desc h5 {
  font-size: 18px;
  color: #333333;
}

.right .right-card__desc span {
  font-size: 14px;
  color: #666666;
}

.right .right-card__desc__icons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.right .right-card__desc__icons i {
  margin-right: 20px;
  color: #666666;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.right .right-card__desc__icons i:hover {
  color: #e3a51e;
  cursor: pointer;
}

.right-titles {
  margin: 20px 0;
  width: 270px;
  height: 106;
  border-bottom: 1px solid #e5e5e5;
}

.right-titles h5 {
  color: #333333;
  font-size: 20px;
  font-weight: 500;
}

.right-search {
  position: relative;
}

.right-search input {
  background-color: #f6f6f6;
  border: none;
  outline: none;
  width: 270px;
  height: 46px;
  padding: 0 14px;
}

.right-search button {
  border: none;
  width: 46px;
  height: 46px;
  background-color: #e3a51e;
  position: absolute;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.right-search button i {
  color: white;
}

.right-search button:hover {
  background-color: #333333;
}

.right-mini-cards ul {
  display: block !important;
}

.right-mini-cards ul li {
  margin-bottom: 20px;
}

.right-mini-cards ul li .right-mini-cards__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right-mini-cards ul li .right-mini-cards__card__image {
  width: 80px;
  height: 78px;
}

.right-mini-cards ul li .right-mini-cards__card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.right-mini-cards ul li .right-mini-cards__card__desc {
  padding-left: 14px;
}

.right-mini-cards ul li .right-mini-cards__card__desc span {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

.right-mini-cards ul li .right-mini-cards__card__desc a {
  color: #333333;
  font-weight: 500;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.right-mini-cards ul li .right-mini-cards__card__desc a:hover {
  color: #e3a51e;
}

.right-sections a {
  padding: 8px 14px;
  font-size: 14px;
  color: #333333;
  border: 1px solid #e5e5e5;
  line-height: 1;
  display: inline-block;
  margin-bottom: 5px;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.right-sections a:hover {
  background-color: #e3a51e;
  color: white;
}

@media (max-width: 991px) {
  .main-content__image {
    width: 344px;
    height: 224px;
  }
  .main-content__desc h5 {
    font-size: 20px;
  }
}

.contact-title h5 {
  color: #333333;
  font-size: 24px;
  font-weight: 600;
  margin: 120px 0 30px;
}

.contact-form input {
  background-color: #f3f6f5;
  border: none;
  outline: none;
  padding: 14px;
  margin: 10px 0;
  width: 100%;
}

.contact-form__textarea textarea {
  background-color: #f3f6f5;
  width: 100%;
  height: 150px;
  border: none;
  outline: none;
  color: #a3a3a3;
}

.contact-form__btn {
  margin-bottom: 60px;
}

.contact-form__btn button {
  border: none;
  padding: 14px 20px;
  color: #e3a51e;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #333333;
  margin: 40px 0;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.contact-form__btn button:hover {
  background-color: #e3a51e;
  color: white;
}

.contact-contact {
  margin-bottom: 50px;
  color: #666666;
}

.contact-contact p {
  margin-bottom: 30px;
}

.contact-contact ul li {
  margin: 28px 0;
  border-bottom: 1px solid #e5e5e5;
}

.contact-contact ul li i {
  margin-right: 10px;
}

.contact-contact h3 {
  font-size: 16px;
  color: #333333;
}

.contact-contact p:last-of-type {
  color: #333333;
  font-weight: 500;
}

.contact-contact p:last-of-type span {
  color: #666666;
}

.top-footer {
  background-color: #f0f0f0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-footer--bg {
  padding: 74px 0;
}

.top-footer__content {
  color: #333333;
}

.top-footer__title > h5 {
  font-size: 18px;
  font-weight: 600;
}

.top-footer__links {
  line-height: 46px;
}

.top-footer__links ul > li > a {
  color: #333333;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.top-footer__links ul > li > a:hover {
  color: #e3a51e;
  margin-left: 8px;
}

.top-footer .footer-links {
  line-height: 30px;
}

.top-footer .footer-links > li {
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.top-footer .footer-links > li a {
  color: #333333;
}

.top-footer .footer-links > li:hover {
  margin-left: 8px;
  color: #e3a51e;
  cursor: pointer;
}

.top-footer .footer-links > li:hover a {
  color: #e3a51e;
}

.bottom-footer {
  background-color: #e4e4e4;
  padding: 22px 0;
  color: #333333;
}

.bottom-footer > p strong#st {
  color: #e3a51e;
}

.bottom-footer .social-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.bottom-footer .social-medias i {
  margin-right: 20px;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.bottom-footer .social-medias i:hover {
  color: #e3a51e;
  cursor: pointer;
}

@media (max-width: 991px) {
  .bottom-footer .social-medias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-carousel {
  position: relative;
}

.main-carousel__image {
  width: 100%;
}

.main-carousel__content {
  position: absolute;
  top: 130px;
  left: 100px;
  max-width: 400px;
  height: 224px;
  color: white;
}

.main-carousel__content > p:first-child {
  font-size: 18px;
}

.main-carousel__content > h2 {
  font-size: 50px;
  font-weight: 600;
}

.main-carousel__content > button {
  border: none;
  height: 54px;
  width: 176px;
  border-radius: 30px;
}

.main-carousel__content > button > a {
  color: #333333;
}

.main-carousel__content > button:hover {
  background-color: #333333;
  -webkit-transition: 0.3s ease-in all;
  transition: 0.3s ease-in all;
}

.main-carousel__content > button:hover a {
  color: #e3a51e;
}

.owl-prev {
  width: 46px;
  height: 46px;
  background-color: white !important;
  position: absolute;
  top: 50%;
  left: 30px;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.owl-prev:hover {
  background-color: #e3a51e !important;
}

.owl-next:hover {
  background-color: #e3a51e !important;
}

.owl-next {
  width: 46px;
  height: 46px;
  position: absolute;
  background-color: white !important;
  top: 50%;
  right: 30px;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.colorful-cards {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.colorful-cards__card {
  padding: 26px 30px 26px 30px;
  height: 110px;
}

.colorful-cards__card .card__desc {
  padding: 0px 0px 0px 20px;
  color: #333333;
}

.colorful-cards__card .card__desc > h4 {
  text-transform: uppercase;
  font-size: 18px;
}

.colorful-cards__card#first-card {
  background-color: #fcedda;
  margin-right: 14px;
  margin-bottom: 10px;
}

.colorful-cards__card#second-card {
  background-color: #f2fbcb;
  margin-right: 14px;
  margin-bottom: 10px;
}

.colorful-cards__card#third-card {
  background-color: #f7d8f9;
  margin-right: 14px;
}

.colorful-cards .col-lg-4 {
  padding: 0;
}

.title-products {
  text-align: center;
  color: #333333;
}

.title-products > h2 {
  font-weight: 600;
}

.title-products p {
  font-size: 18px;
  margin: 0;
}

.product {
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  height: 390px;
  width: 270px;
  text-align: center;
  position: relative;
  z-index: 1000;
}

.product__image {
  overflow: hidden;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.product__image > img {
  width: 100%;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.product__desc > h3 {
  font-size: 18px;
}

.product__desc > h3 a {
  color: #333333;
}

.product__desc > h3:hover > a {
  color: #e3a51e;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.product__desc > span {
  font-size: 18px;
  color: #333333;
}

.product__desc > del {
  font-size: 16px;
  color: #666666;
}

.product .product__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  color: #e3a51e;
  z-index: 99999;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.product .product__icons__wishlist {
  width: 46px;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #e3a51e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
  position: absolute;
  top: 32px;
  left: 116px;
  background-color: white;
}

.product .product__icons__addtocard {
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #e3a51e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 99;
  top: 32px;
  left: 116px;
  background-color: white;
}

.product .product__icons__quickview {
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #e3a51e;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 32px;
  left: 116px;
  right: 72px;
  background-color: white;
}

.product .product__icons__quickview:hover {
  background-color: #e3a51e;
  color: white;
}

.product .product__icons__addtocard:hover {
  background-color: #e3a51e;
  color: white;
}

.product .product__icons__wishlist:hover {
  background-color: #e3a51e;
  color: white;
}

.product:hover {
  cursor: pointer;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
  border: 1px solid #e3a51e;
}

.product:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.product:hover .product__icons__addtocard {
  left: 40px;
}

.product:hover .product__icons__quickview {
  left: 180px;
}

#owlcard .owl-stage-outer {
  height: 450px;
  margin: 30px 0;
}

.scale {
  position: relative;
}

.scale__left .image {
  overflow: hidden;
}

.scale__left .image img {
  width: 100%;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.scale__right .image {
  overflow: hidden;
  position: relative;
  right: 24px;
}

.scale__right .image img {
  width: 100%;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.scale__right:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.scale__left:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.scale .desc {
  position: absolute;
  bottom: 70px;
  text-transform: uppercase;
  color: white;
}

.blog .title {
  text-align: center;
  margin: 40px 0;
}

.blog .title h2 {
  font-weight: 600;
  color: #333333;
}

.blog .title p {
  font-size: 18px;
  color: #666666;
}

.blog .blog-product {
  margin: 50px 0;
  width: 100%;
  height: 100%;
}

.blog .blog-product .desc {
  color: #333333;
  line-height: 30px;
}

.blog .blog-product .desc p {
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.blog .blog-product .desc ul li {
  font-size: 14px;
}

.blog .blog-product .desc ul li span:first-child {
  font-weight: 600;
}

.blog .blog-product .desc a {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.blog .blog-product .desc p:hover {
  color: #e3a51e;
  cursor: pointer;
}

.blog .blog-product .desc a:hover {
  color: #e3a51e;
}

.third .title {
  text-align: center;
  margin: 40px 0;
}

.third .title h2 {
  font-weight: 600;
  color: #333333;
}

.third .title p {
  font-size: 18px;
  color: #666666;
}

.third .top-item > .slide-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 14px;
  width: 370px;
  height: 200px;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.third .top-item > .slide-item .item-image {
  overflow: hidden;
}

.third .top-item > .slide-item .item-image > img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.third .top-item > .slide-item .item-content {
  color: #333333;
  margin-left: 14px;
}

.third .top-item > .slide-item .item-content .title {
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.third .top-item > .slide-item .item-content .title h5 {
  font-size: 16px;
}

.third .top-item > .slide-item .item-content .title:hover {
  color: #e3a51e;
  cursor: pointer;
}

.third .top-item > .slide-item .icons > .icon {
  width: 46px;
  height: 46px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.third .top-item > .slide-item .icons > .icon:hover {
  background-color: #e3a51e;
  color: white;
  cursor: pointer;
}

.third .slide-item:hover .item-image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.third .bottom-item {
  margin-top: 4px;
}

.third .bottom-item > .slide-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 14px;
  width: 370px;
  height: 200px;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.third .bottom-item > .slide-item .item-image {
  overflow: hidden;
}

.third .bottom-item > .slide-item .item-image > img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.third .bottom-item > .slide-item .item-content {
  color: #333333;
  margin-left: 14px;
}

.third .bottom-item > .slide-item .item-content .title {
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.third .bottom-item > .slide-item .item-content .title h5 {
  font-size: 16px;
}

.third .bottom-item > .slide-item .item-content .title:hover {
  color: #e3a51e;
  cursor: pointer;
}

.third .bottom-item > .slide-item .icons > .icon {
  width: 46px;
  height: 46px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.third .bottom-item > .slide-item .icons > .icon:hover {
  background-color: #e3a51e;
  color: white;
  cursor: pointer;
}

.third .bottom-item .slide-item:hover .item-image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.last-section .image {
  width: 180px;
  height: 60px;
  margin: 80px 0;
}

.last-section .image > img {
  opacity: 0.3;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.last-section .image > img:hover {
  opacity: 1;
  cursor: pointer;
}

.image-left img {
  width: 100%;
  cursor: pointer;
}

.scroll-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: -webkit-sticky;
  position: sticky;
  top: -22px;
  z-index: 12;
}

.scroll-top .scroll {
  width: 46px;
  height: 46px;
  background-color: #e3a51e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 12px;
}

@media (max-width: 991px) {
  .main-carousel__image {
    height: 350px;
  }
  .main-carousel__image img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-carousel__content {
    position: absolute;
    top: 44px;
    left: 12px;
  }
  .main-carousel__content h2 {
    font-size: 30px;
  }
  .owl-prev {
    display: none !important;
  }
  .owl-next {
    display: none !important;
  }
  .colorful-cards {
    display: block;
  }
  .colorful-cards__card#first-card {
    height: 154px;
  }
  .colorful-cards__card#second-card {
    height: 154px;
  }
  .colorful-cards__card#third-card {
    height: 154px;
  }
  .scale__right {
    position: relative;
    right: -24px;
  }
  .scale__right .desc {
    position: relative;
    bottom: 64px;
    right: 22px;
  }
  .scale__left {
    height: 160px;
  }
  .scale__left .desc {
    position: relative;
    bottom: 64px;
  }
  .bottom-item {
    margin-top: 20px;
  }
  .bottom-item .slide-item {
    display: block !important;
  }
  .top-item {
    margin-top: 20px;
  }
  .top-item .slide-item {
    display: block !important;
  }
}

.row-product {
  margin: 40px 0;
}

.products-details figure.zoom {
  background-position: 50% 50%;
  position: relative;
  width: 500px;
  overflow: hidden;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  background-image: url(https://htmldemo.net/juan/juan/assets/img/product/product-details-img1.jpg);
  border: 1px solid #e5e5e5;
}

.products-details figure.zoom img:hover {
  opacity: 0;
}

.products-details figure.zoom img {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  display: block;
  width: 100%;
}

.products-details__other-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-details__other-products__product {
  width: 118px;
  height: 114px;
  border: 1px solid #e5e5e5;
  margin-right: 10px;
  cursor: pointer;
}

.products-details__other-products__product img {
  width: 100%;
  height: 100%;
}

.products-details__title h5 {
  color: #333333;
  font-size: 24px;
  font-weight: 500;
}

.products-details__desc p:first-of-type {
  color: #e3a51e;
  margin: 14px 0;
}

.products-details__desc p {
  margin-top: 14px;
  color: #666666;
  margin: 24px 0;
}

.products-details__desc p:last-of-type {
  color: #333333;
  font-weight: 500;
}

.products-details__desc p:last-of-type span {
  color: #22dd77;
  font-weight: 400;
}

.product-details__share-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333333;
}

.product-details__share-icons h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 600;
  margin-right: 12px;
}

.product-details__share-icons a {
  border: 1px solid #e5e5e5;
  padding: 6px 12px;
  color: #666666;
  margin-right: 12px;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.product-details__share-icons a:hover {
  background-color: #e3a51e;
  color: white;
}

.product-details__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

.product-details__btn--leftbtn {
  border: 1px solid #e5e5e5;
  padding: 6px 14px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 46px;
}

.product-details__btn--leftbtn input {
  border: none;
  width: 50px;
  padding-left: 18px;
}

.product-details__btn--rightbtn {
  margin-left: 20px;
  border: 1px solid #e5e5e5;
  padding: 6px 18px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 46px;
  background-color: #333333;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.product-details__btn--rightbtn a {
  font-size: 14px;
  color: #e3a51e;
}

.product-details__btn--rightbtn:hover {
  background-color: #e3a51e;
}

.product-details__btn--rightbtn:hover a {
  color: white;
}

.product-change-pages ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-change-pages ul li {
  margin-right: 2px;
  border: 1px solid #e5e5e5;
  padding: 4px 12px;
  background-color: #979898;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.product-change-pages ul li a {
  color: white;
}

.product-change-pages ul li.active {
  background-color: white;
}

.product-change-pages ul li.active a {
  color: #666666;
}

.product-change-pages ul li:hover {
  background-color: white;
}

.product-change-pages ul li:hover a {
  color: #666666;
}

.product-change-pages__description {
  border: 1px solid #e5e5e5;
  padding: 14px 20px 20px;
  color: #666666;
}

.product-change-pages__description p {
  line-height: 25px;
}

.change-pages__description__product-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
}

.change-pages__description__product-information .image {
  width: 300px;
  height: 210px;
}

.change-pages__description__product-information .image img {
  width: 100%;
  height: 100%;
}

.change-pages__description__product-information .desc {
  padding-left: 40px;
}

.change-pages__description__product-information .desc h5 {
  font-size: 20px;
  color: #e3a51e;
}

.change-pages__description__product-information .desc ul > li {
  list-style: disc;
  padding: 3px 0;
}

.padding-product {
  padding: 80px 0;
}

.product-change-pages__information {
  border: 1px solid #e5e5e5;
  padding: 34px;
  color: #666666;
}

.product-change-pages__information table {
  border: 1px solid #e5e5e5;
  width: 100%;
}

.product-change-pages__information table td {
  border: 1px solid #e5e5e5;
  padding: 12px;
}

.product-change-pages__reviews {
  border: 1px solid #e5e5e5;
  padding: 34px;
  color: #666666;
}

.product-change-pages__reviews h5 {
  color: #333333;
  font-size: 18px;
}

.product-change-pages__reviews h5 span {
  color: #e3a51e;
}

.product-change-pages__reviews__admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.product-change-pages__reviews__admin .desc {
  border: 1px solid #e5e5e5;
  padding: 12px;
  margin-left: 10px;
}

.product-change-pages__reviews__admin .desc__ratings i {
  color: #e3a51e;
}

.product-change-pages__reviews__admin .desc p:first-of-type {
  font-size: 12px;
}

.product-change-pages__reviews__admin .desc p:last-of-type {
  font-size: 14px;
}

.product-change-pages__reviews form label {
  display: inline;
}

.product-change-pages__reviews form label span {
  color: red;
  margin-right: 4px;
}

.product-change-pages__reviews form input[type="text"],
.product-change-pages__reviews form [type="email"] {
  width: 100%;
  height: 38px;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
  margin: 12px 0;
}

.product-change-pages__reviews form input:focus {
  -webkit-box-shadow: 0 0 20px 0 skyblue;
          box-shadow: 0 0 20px 0 skyblue;
}

.product-change-pages__reviews form textarea {
  width: 100%;
  height: 38px;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.product-change-pages__reviews form textarea:focus {
  -webkit-box-shadow: 0 0 20px 0 skyblue;
          box-shadow: 0 0 20px 0 skyblue;
}

.product-change-pages__reviews__note {
  margin: 12px 0;
}

.product-change-pages__reviews__note span {
  color: red;
  font-weight: 500;
}

.product-change-pages__reviews__note span span {
  color: #666666;
}

.product-change-pages__reviews__send span {
  margin-left: 12px;
}

.product-change-pages__reviews button {
  border: none;
  background-color: transparent;
  margin: 18px 0;
}

.title-section {
  background-image: url(https://htmldemo.net/juan/juan/assets/img/banner/breadcrumb-banner.jpg);
}

.title-section__title {
  text-align: center;
  color: #333333;
  padding: 55px 0 55px 0px;
}

.title-section__title h5 {
  font-size: 24px;
  font-weight: 600;
}

.title-section__title a {
  font-size: 16px;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
  color: #333333;
}

.title-section__title a span.active {
  color: #e3a51e;
}

.title-section__title a:hover {
  color: #e3a51e;
  cursor: pointer;
}

.active-select {
  opacity: 1 !important;
  visibility: visible !important;
}

.categories {
  color: #333333;
}

.categories h5 {
  font-size: 20px;
}

.categories__options > ul > li {
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.categories__options > ul > li a {
  color: #333333;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.categories__options ul > li:hover {
  color: #e3a51e;
}

.categories__options ul > li:hover a {
  color: #e3a51e;
}

.color {
  color: #333333;
}

.color h5 {
  font-size: 20px;
}

.color__options > ul > li {
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.color__options > ul > li a {
  color: #333333;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.color__options ul > li:hover {
  color: #e3a51e;
}

.color__options ul > li:hover a {
  color: #e3a51e;
}

.size {
  color: #333333;
}

.size h5 {
  font-size: 20px;
}

.size__options > ul > li {
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.size__options > ul > li a {
  color: #333333;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.size__options ul > li:hover {
  color: #e3a51e;
}

.size__options ul > li:hover a {
  color: #e3a51e;
}

.advertising {
  margin: 30px 0;
}

.advertising > img {
  width: 100%;
}

.row-pad {
  padding-top: 40px;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

::-moz-selection {
  color: #fff;
  background: #e3a51e;
}

::selection {
  color: #fff;
  background: #e3a51e;
}

.wrapper {
  width: 310px;
  background: white;
  border-radius: 10px;
  padding: 30px 0px 50px 0px;
  border: none;
}

header h2 {
  color: #333333;
  font-size: 24px;
  font-weight: 500;
}

.price-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 35px;
}

.price-input .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: none;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-input .separator {
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}

.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #e3a51e;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #e3a51e;
  pointer-events: auto;
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #e3a51e;
  pointer-events: auto;
  -moz-appearance: none;
}

.change-icons__icon {
  width: 46px;
  height: 46px;
  background-color: #9e9e9e;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.change-icons__icon i {
  font-size: 20px;
}

.change-icons__icon.active {
  background-color: #e3a51e;
}

.change-icons__icon:hover {
  background-color: #e3a51e;
  cursor: pointer;
}

.selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666666;
  position: relative;
}

.selection__select {
  width: 200px;
  height: 42px;
  border: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  margin: 0 20px;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.selection__select i {
  margin-left: 50px;
}

.selection__select:hover {
  cursor: pointer;
  border-color: #dbdbdb;
}

.selection__items {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  position: absolute;
  top: 46px;
  left: 86px;
  -webkit-box-shadow: 0 0 0 1px #f5f5f5;
          box-shadow: 0 0 0 1px #f5f5f5;
  border-radius: 6px;
  background-color: white;
  z-index: 1222;
}

.selection__items__item {
  width: 200px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 18px;
  font-size: 14px;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.selection__items__item.active {
  font-weight: 600;
  color: #666666;
}

.selection__items__item:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}

.card-product .item-card {
  margin: 30px;
}

@media (max-width: 991px) {
  .selection {
    display: block;
    text-align: center;
  }
  .sm-change {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .selection__select {
    margin: 0 72px;
  }
  .selection__items {
    position: absolute;
    top: 70px;
    left: 72px;
  }
}

.change-pages {
  height: 80px;
  border: 1px solid #e5e5e5;
  margin: 30px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.change-pages__icon {
  width: 46px;
  height: 46px;
  border: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  border-radius: 6px;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.change-pages__icon a {
  color: #333333;
}

.change-pages__icon.active {
  background-color: #e3a51e;
}

.change-pages__icon.active a {
  color: white;
}

.change-pages__icon:hover {
  background-color: #e3a51e;
  cursor: pointer;
}

.change-pages__icon:hover a {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */