.nav-cus {
  position: relative; }

.top-nav {
  height: 50px;
  background-color: #e3a51e;
  position: relative; }
  .top-nav-all {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px; }
    .top-nav-all .top-nav__left {
      color: white; }
    .top-nav-all .top-nav__right .nav__right__elements {
      display: flex; }
      .top-nav-all .top-nav__right .nav__right__elements > li {
        padding: 0 20px 0 20px; }
        .top-nav-all .top-nav__right .nav__right__elements > li > a {
          color: white; }
      .top-nav-all .top-nav__right .nav__right__elements .nav__right__currency {
        border-right: 1px solid white; }
        .top-nav-all .top-nav__right .nav__right__elements .nav__right__currency a i {
          font-size: 12px; }
      .top-nav-all .top-nav__right .nav__right__elements .nav__right__language a i {
        font-size: 12px; }
      .top-nav-all .top-nav__right .nav__right__elements .nav__right__currency:hover .drop-down__currency {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px); }
      .top-nav-all .top-nav__right .nav__right__elements .nav__right__language:hover .drop-down__language {
        transform: translateX(0px);
        opacity: 1;
        visibility: visible; }
  .top-nav .drop-down__currency {
    width: 150px;
    height: 100px;
    background-color: white;
    border: 1px solid #e5e5e5;
    position: absolute;
    right: 250px;
    top: 34px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(14px);
    transition: 0.2s ease-in all;
    z-index: 122; }
    .top-nav .drop-down__currency ul {
      padding: 15px 15px 20px 15px; }
      .top-nav .drop-down__currency ul > li {
        padding: 5px 0px 3px 0px; }
        .top-nav .drop-down__currency ul > li > a {
          color: #666666; }
        .top-nav .drop-down__currency ul > li > a:hover {
          color: #e3a51e;
          transition: 0.2s ease-in all; }
  .top-nav .drop-down__language {
    width: 150px;
    height: 100px;
    background-color: white;
    border: 1px solid #e5e5e5;
    position: absolute;
    right: 130px;
    top: 34px;
    transition: 0.2s ease-in all;
    opacity: 0;
    visibility: hidden;
    transform: translateY(14px);
    transition: 0.2s ease-in all;
    z-index: 122; }
    .top-nav .drop-down__language ul {
      padding: 15px 15px 20px 15px; }
      .top-nav .drop-down__language ul > li {
        padding: 5px 0px 3px 0px; }
        .top-nav .drop-down__language ul > li > a {
          color: #666666; }
        .top-nav .drop-down__language ul > li > a:hover {
          color: #e3a51e;
          transition: 0.2s ease-in all; }

.main-nav {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 52px 0px 30px 0px; }
  .main-nav__links ul:first-of-type {
    font-weight: 500; }
    .main-nav__links ul:first-of-type li {
      margin-right: 20px; }
      .main-nav__links ul:first-of-type li a {
        color: #333333;
        transition: 0.2s ease-in all;
        padding: 80px 0 100px 0px; }
        .main-nav__links ul:first-of-type li a i {
          font-size: 12px; }
    .main-nav__links ul:first-of-type li a#hm {
      color: #e3a51e;
      text-transform: uppercase; }
    .main-nav__links ul:first-of-type li a#pg,
    .main-nav__links ul:first-of-type a#bg,
    .main-nav__links ul:first-of-type a#cu,
    .main-nav__links ul:first-of-type a#sp {
      text-transform: uppercase; }
    .main-nav__links ul:first-of-type > li:hover a#pg,
    .main-nav__links ul:first-of-type > li:hover a#sp,
    .main-nav__links ul:first-of-type > li:hover a#bg,
    .main-nav__links ul:first-of-type > li:hover a#cu {
      color: #e3a51e; }
    .main-nav__links ul:first-of-type li#home:hover .drop-down__home {
      transform: translateY(0px);
      opacity: 1;
      transition: 0.2s linear all;
      visibility: visible; }
    .main-nav__links ul:first-of-type li#pages:hover .drop-down__pages {
      transform: translateY(0px);
      opacity: 1;
      transition: 0.2s linear all;
      visibility: visible; }
    .main-nav__links ul:first-of-type li#shop:hover .drop-down__shop {
      transform: translateY(0px);
      opacity: 1;
      transition: 0.2s linear all;
      visibility: visible; }
    .main-nav__links ul:first-of-type li#blog:hover .drop-down__blog {
      transform: translateY(0px);
      opacity: 1;
      transition: 0.2s linear all;
      visibility: visible; }
  .main-nav .drop-down__home {
    width: 220px;
    height: 110px;
    background-color: white;
    border: 1px solid #e5e5e5;
    position: absolute;
    left: 454px;
    top: 100%;
    transition: 0.2s ease-in all;
    z-index: 122;
    transform: translateY(14px);
    opacity: 0;
    visibility: hidden; }
    .main-nav .drop-down__home ul {
      padding: 15px 15px 20px 15px; }
      .main-nav .drop-down__home ul > li {
        padding: 5px 0px 3px 0px; }
        .main-nav .drop-down__home ul > li > a {
          color: #666666;
          padding: unset; }
        .main-nav .drop-down__home ul > li > a:hover {
          color: #e3a51e;
          transition: 0.2s ease-in all; }
  .main-nav .drop-down__pages {
    width: 1188px;
    height: 214px;
    background-color: white;
    border: 1px solid #e5e5e5;
    position: absolute;
    left: 108px;
    top: 100%;
    transition: 0.2s ease-in all;
    z-index: 122;
    transform: translateY(14px);
    opacity: 0;
    visibility: hidden; }
    .main-nav .drop-down__pages ul {
      padding: 15px 15px 20px 15px; }
      .main-nav .drop-down__pages ul > li {
        padding: 6px 14px 6px 14px;
        font-size: 14px; }
        .main-nav .drop-down__pages ul > li > a {
          color: #666666;
          padding: unset; }
        .main-nav .drop-down__pages ul > li > a:hover {
          color: #e3a51e;
          transition: 0.2s ease-in all; }
      .main-nav .drop-down__pages ul li:first-child {
        font-size: 16px;
        font-weight: 500; }
        .main-nav .drop-down__pages ul li:first-child > a {
          color: #333333; }
    .main-nav .drop-down__pages .cols:hover .title {
      color: #e3a51e;
      transition: 0.2s ease-in all; }
  .main-nav .main-nav__icons ul {
    justify-content: flex-end;
    position: relative; }
    .main-nav .main-nav__icons ul > li#set,
    .main-nav .main-nav__icons ul li#search,
    .main-nav .main-nav__icons ul li#bag {
      padding-top: 0;
      padding-right: 26px;
      font-size: 24px; }
      .main-nav .main-nav__icons ul > li#set a,
      .main-nav .main-nav__icons ul li#search a,
      .main-nav .main-nav__icons ul li#bag a {
        color: #333333; }
      .main-nav .main-nav__icons ul > li#set a:hover,
      .main-nav .main-nav__icons ul li#search a:hover,
      .main-nav .main-nav__icons ul li#bag a:hover {
        color: #e3a51e;
        transition: 0.2s ease-in all; }
      .main-nav .main-nav__icons ul > li#set .drop-down__icons,
      .main-nav .main-nav__icons ul li#search .drop-down__icons,
      .main-nav .main-nav__icons ul li#bag .drop-down__icons {
        width: 150px;
        height: 129px;
        background-color: white;
        border: 1px solid #e5e5e5;
        position: absolute;
        left: 26%;
        top: 46px;
        transition: 0.2s ease-in all;
        z-index: 122;
        transform: translateY(14px);
        opacity: 0;
        visibility: hidden;
        font-size: 14px; }
        .main-nav .main-nav__icons ul > li#set .drop-down__icons ul,
        .main-nav .main-nav__icons ul li#search .drop-down__icons ul,
        .main-nav .main-nav__icons ul li#bag .drop-down__icons ul {
          width: 100%;
          height: 100%;
          padding: 20px; }
          .main-nav .main-nav__icons ul > li#set .drop-down__icons ul li,
          .main-nav .main-nav__icons ul li#search .drop-down__icons ul li,
          .main-nav .main-nav__icons ul li#bag .drop-down__icons ul li {
            padding: 5px; }
    .main-nav .main-nav__icons ul li#set:hover .drop-down__icons {
      transform: translateY(0px);
      opacity: 1;
      transition: 0.2s linear all;
      visibility: visible; }
    .main-nav .main-nav__icons ul li:last-child div {
      width: 18px;
      height: 18px;
      font-size: 12px;
      text-align: center;
      border-radius: 50%;
      position: absolute;
      background-color: #e3a51e;
      color: white;
      top: 2px;
      right: 20px; }
  .main-nav .drop-down__shop {
    width: 220px;
    height: 144px;
    background-color: white;
    border: 1px solid #e5e5e5;
    position: absolute;
    left: 42%;
    top: 100%;
    transition: 0.2s ease-in all;
    z-index: 122;
    transform: translateY(14px);
    opacity: 0;
    visibility: hidden;
    font-size: 14px; }
    .main-nav .drop-down__shop ul {
      padding: 24px 15px 24px 15px; }
      .main-nav .drop-down__shop ul > li {
        padding: 5px 0px 3px 0px; }
        .main-nav .drop-down__shop ul > li > a {
          color: #666666;
          padding: unset; }
          .main-nav .drop-down__shop ul > li > a i {
            font-size: 12px; }
        .main-nav .drop-down__shop ul > li > a:hover {
          color: #e3a51e;
          transition: 0.2s ease-in all; }
        .main-nav .drop-down__shop ul > li .drop-down__shop--shopGrid {
          width: 250px;
          height: 178px;
          background-color: white;
          border: 1px solid #e5e5e5;
          position: absolute;
          left: 100%;
          top: 10%;
          transition: 0.2s ease-in all;
          z-index: 122;
          transform: translateY(14px);
          opacity: 0;
          visibility: hidden; }
        .main-nav .drop-down__shop ul > li .drop-down__shop--shopList {
          width: 220px;
          height: 150px;
          background-color: white;
          border: 1px solid #e5e5e5;
          position: absolute;
          left: 100%;
          top: 34%;
          transition: 0.2s ease-in all;
          z-index: 122;
          transform: translateY(14px);
          opacity: 0;
          visibility: hidden; }
        .main-nav .drop-down__shop ul > li .drop-down__shop--productDetails {
          width: 250px;
          height: 178px;
          background-color: white;
          border: 1px solid #e5e5e5;
          position: absolute;
          left: 100%;
          top: 54%;
          transition: 0.2s ease-in all;
          z-index: 122;
          transform: translateY(14px);
          opacity: 0;
          visibility: hidden; }
    .main-nav .drop-down__shop ul > li#grid:hover .drop-down__shop--shopGrid {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px); }
    .main-nav .drop-down__shop ul > li#list:hover .drop-down__shop--shopList {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px); }
    .main-nav .drop-down__shop ul > li#product:hover .drop-down__shop--productDetails {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px); }
  .main-nav .drop-down__blog {
    width: 220px;
    height: 250px;
    background-color: white;
    border: 1px solid #e5e5e5;
    position: absolute;
    left: 48%;
    top: 100%;
    transition: 0.2s ease-in all;
    z-index: 122;
    transform: translateY(14px);
    opacity: 0;
    visibility: hidden;
    font-size: 14px; }
    .main-nav .drop-down__blog ul {
      padding: 20px 5px 20px 5px; }
      .main-nav .drop-down__blog ul > li {
        padding: 5px 0px 3px 0px; }
        .main-nav .drop-down__blog ul > li > a {
          color: #666666;
          padding: unset; }
        .main-nav .drop-down__blog ul > li > a:hover {
          color: #e3a51e;
          transition: 0.2s ease-in all; }

.top-footer {
  background-color: #f0f0f0;
  height: 374px; }
  .top-footer--bg {
    padding: 74px 0; }
  .top-footer__content {
    color: #333333; }
  .top-footer__title > h5 {
    font-size: 18px;
    font-weight: 600; }
  .top-footer__links {
    line-height: 46px; }
    .top-footer__links ul > li > a {
      color: #333333;
      transition: 0.2s ease-in all; }
    .top-footer__links ul > li > a:hover {
      color: #e3a51e;
      margin-left: 8px; }
  .top-footer .footer-links {
    line-height: 30px; }
    .top-footer .footer-links > li {
      transition: 0.2s ease-in all; }
      .top-footer .footer-links > li a {
        color: #333333; }
    .top-footer .footer-links > li:hover {
      margin-left: 8px;
      color: #e3a51e;
      cursor: pointer; }
      .top-footer .footer-links > li:hover a {
        color: #e3a51e; }

.bottom-footer {
  height: 68px;
  background-color: #e4e4e4;
  padding: 22px 0;
  color: #333333; }
  .bottom-footer > p strong#st {
    color: #e3a51e; }
  .bottom-footer .social-medias {
    display: flex;
    justify-content: flex-end; }
    .bottom-footer .social-medias i {
      margin-right: 20px; }

.main-carousel {
  position: relative; }
  .main-carousel__image {
    width: 100%; }
  .main-carousel__content {
    position: absolute;
    top: 130px;
    left: 100px;
    max-width: 400px;
    height: 224px;
    color: white; }
    .main-carousel__content > p:first-child {
      font-size: 18px; }
    .main-carousel__content > h2 {
      font-size: 50px;
      font-weight: 600; }
    .main-carousel__content > button {
      border: none;
      height: 54px;
      width: 176px;
      border-radius: 30px; }
      .main-carousel__content > button > a {
        color: #333333; }
    .main-carousel__content > button:hover {
      background-color: #333333;
      transition: 0.3s ease-in all; }
      .main-carousel__content > button:hover a {
        color: #e3a51e; }
  .main-carousel__slide-button > button#left {
    position: absolute;
    top: 250px;
    left: 20px; }
  .main-carousel__slide-button > button#right {
    position: absolute;
    top: 250px;
    right: 20px; }
  .main-carousel__slide-button > button {
    border: none;
    width: 46px;
    height: 46px;
    background-color: #f5f5f5;
    transition: 0.2s ease-in all; }
    .main-carousel__slide-button > button i {
      color: #333333; }
  .main-carousel__slide-button > button:hover {
    background-color: #e3a51e; }
    .main-carousel__slide-button > button:hover i {
      color: white; }

.colorful-cards {
  margin: 50px 0; }
  .colorful-cards__card {
    padding: 26px 30px 26px 30px;
    height: 110px; }
    .colorful-cards__card .card__desc {
      padding: 0px 0px 0px 20px;
      color: #333333; }
      .colorful-cards__card .card__desc > h4 {
        text-transform: uppercase;
        font-size: 18px; }
  .colorful-cards__card#first-card {
    background-color: #fcedda;
    margin-right: 20px; }
  .colorful-cards__card#second-card {
    background-color: #f2fbcb;
    margin-right: 20px; }
  .colorful-cards__card#third-card {
    background-color: #f7d8f9; }
  .colorful-cards .col-lg-4 {
    padding: 0; }

.title-products {
  text-align: center;
  color: #333333; }
  .title-products > h2 {
    font-weight: 600; }
  .title-products p {
    font-size: 18px;
    margin: 0; }

.product {
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  height: 390px;
  width: 270px;
  text-align: center;
  position: relative;
  z-index: 1000; }
  .product__image {
    overflow: hidden;
    transition: 0.2s ease-in all; }
    .product__image > img {
      width: 100%;
      transition: 0.2s ease-in all; }
  .product__desc > h3 {
    font-size: 18px; }
    .product__desc > h3 a {
      color: #333333; }
  .product__desc > h3:hover > a {
    color: #e3a51e;
    transition: 0.2s ease-in all; }
  .product__desc > span {
    font-size: 18px;
    color: #333333; }
  .product__desc > del {
    font-size: 16px;
    color: #666666; }
  .product .product__icons {
    display: flex;
    justify-content: center;
    position: absolute;
    color: #e3a51e;
    z-index: 99999;
    transition: 0.2s ease-in all; }
    .product .product__icons__wishlist {
      width: 46px;
      transition: 0.2s ease-in all;
      height: 46px;
      border-radius: 50%;
      border: 1px solid #e3a51e;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 999;
      position: absolute;
      top: 32px;
      left: 116px;
      background-color: white; }
    .product .product__icons__addtocard {
      transition: 0.2s ease-in all;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      border: 1px solid #e3a51e;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 99;
      top: 32px;
      left: 116px;
      background-color: white; }
    .product .product__icons__quickview {
      transition: 0.2s ease-in all;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      border: 1px solid #e3a51e;
      z-index: 99;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 32px;
      left: 116px;
      right: 72px;
      background-color: white; }

.product:hover {
  transition: 0.2s ease-in all;
  border: 1px solid #e3a51e; }
  .product:hover img {
    transform: scale(1.2); }
  .product:hover .product__icons__addtocard {
    left: 40px; }
  .product:hover .product__icons__quickview {
    left: 180px; }

#owlcard .owl-stage-outer {
  height: 450px;
  margin: 30px 0; }

.scale {
  position: relative; }
  .scale__left .image {
    overflow: hidden; }
    .scale__left .image img {
      width: 100%;
      transition: 0.2s ease-in all; }
  .scale__right .image {
    overflow: hidden;
    position: relative;
    right: 24px; }
    .scale__right .image img {
      width: 100%;
      transition: 0.2s ease-in all; }
  .scale__right:hover .image img {
    transform: scale(1.1);
    filter: brightness(70%); }
  .scale__left:hover .image img {
    transform: scale(1.1);
    filter: brightness(70%); }
  .scale .desc {
    position: absolute;
    bottom: 70px;
    text-transform: uppercase;
    color: white; }

.blog .title {
  text-align: center;
  margin: 40px 0; }
  .blog .title h2 {
    font-weight: 600;
    color: #333333; }
  .blog .title p {
    font-size: 18px;
    color: #666666; }

.blog .blog-product {
  margin: 50px 0;
  width: 100%;
  height: 100%; }
  .blog .blog-product .desc {
    color: #333333;
    line-height: 30px; }
    .blog .blog-product .desc p {
      font-size: 18px;
      font-weight: 600;
      transition: 0.2s ease-in all; }
    .blog .blog-product .desc ul li {
      font-size: 14px; }
      .blog .blog-product .desc ul li span:first-child {
        font-weight: 600; }
    .blog .blog-product .desc a {
      color: #333333;
      font-size: 16px;
      font-weight: 500;
      transition: 0.2s ease-in all; }
    .blog .blog-product .desc p:hover {
      color: #e3a51e;
      cursor: pointer; }
    .blog .blog-product .desc a:hover {
      color: #e3a51e; }

.last-section .image {
  width: 180px;
  height: 60px;
  margin: 80px 0; }
  .last-section .image > img {
    opacity: 0.3;
    transition: 0.2s ease-in all; }
  .last-section .image > img:hover {
    opacity: 1;
    cursor: pointer; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

ul li {
  list-style: none; }

a {
  text-decoration: none; }
