.top-footer {
  background-color: #f0f0f0;
  flex-direction: column; }
  .top-footer--bg {
    padding: 74px 0; }
  .top-footer__content {
    color: #333333; }
  .top-footer__title > h5 {
    font-size: 18px;
    font-weight: 600; }
  .top-footer__links {
    line-height: 46px; }
    .top-footer__links ul > li > a {
      color: #333333;
      transition: 0.2s ease-in all; }
    .top-footer__links ul > li > a:hover {
      color: #e3a51e;
      margin-left: 8px; }
  .top-footer .footer-links {
    line-height: 30px; }
    .top-footer .footer-links > li {
      transition: 0.2s ease-in all; }
      .top-footer .footer-links > li a {
        color: #333333; }
    .top-footer .footer-links > li:hover {
      margin-left: 8px;
      color: #e3a51e;
      cursor: pointer; }
      .top-footer .footer-links > li:hover a {
        color: #e3a51e; }

.bottom-footer {
  background-color: #e4e4e4;
  padding: 22px 0;
  color: #333333; }
  .bottom-footer > p strong#st {
    color: #e3a51e; }
  .bottom-footer .social-medias {
    display: flex;
    justify-content: flex-end; }
    .bottom-footer .social-medias i {
      margin-right: 20px; }

@media (max-width: 991px) {
  .bottom-footer .social-medias {
    display: flex;
    justify-content: center; } }
