.owl-stage-outer {
  height: 450px;
  margin: 30px 0; }

.row-product {
  margin: 40px 0; }

.products-details figure.zoom {
  background-position: 50% 50%;
  position: relative;
  width: 500px;
  overflow: hidden;
  cursor: zoom-in;
  background-image: url(https://htmldemo.net/juan/juan/assets/img/product/product-details-img1.jpg);
  border: 1px solid #e5e5e5; }

.products-details figure.zoom img:hover {
  opacity: 0; }

.products-details figure.zoom img {
  transition: opacity 0.5s;
  display: block;
  width: 100%; }

.products-details__other-products {
  display: flex; }
  .products-details__other-products__product {
    width: 118px;
    height: 100%;
    border: 1px solid #e5e5e5;
    margin-right: 10px;
    cursor: pointer; }
    .products-details__other-products__product img {
      width: 100%;
      height: 100%; }

.products-details__title h5 {
  color: #333333;
  font-size: 24px;
  font-weight: 500; }

.products-details__desc p:first-of-type {
  color: #e3a51e;
  margin: 14px 0; }

.products-details__desc p {
  margin-top: 14px;
  color: #666666;
  margin: 24px 0; }

.products-details__desc p:last-of-type {
  color: #333333;
  font-weight: 500; }
  .products-details__desc p:last-of-type span {
    color: #22dd77;
    font-weight: 400; }

.product-details__share-icons {
  display: flex;
  color: #333333; }
  .product-details__share-icons h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    margin-right: 12px; }
  .product-details__share-icons a {
    border: 1px solid #e5e5e5;
    padding: 6px 12px;
    color: #666666;
    margin-right: 12px;
    transition: 0.2s ease-in all; }
  .product-details__share-icons a:hover {
    background-color: #e3a51e;
    color: white; }

.zoom {
  width: 100% !important; }

.product-details__btn {
  cursor: pointer;
  display: flex;
  font-size: 20px; }
  .product-details__btn--leftbtn {
    border: 1px solid #e5e5e5;
    padding: 6px 14px;
    width: max-content;
    height: 46px; }
    .product-details__btn--leftbtn input {
      border: none;
      width: 50px;
      padding-left: 18px; }
  .product-details__btn--rightbtn {
    margin-left: 20px;
    border: 1px solid #e5e5e5;
    padding: 6px 18px;
    width: max-content;
    height: 46px;
    background-color: #333333;
    transition: 0.2s ease-in all; }
    .product-details__btn--rightbtn a {
      font-size: 14px;
      color: #e3a51e; }
  .product-details__btn--rightbtn:hover {
    background-color: #e3a51e; }
    .product-details__btn--rightbtn:hover a {
      color: white; }

.product-change-pages ul {
  display: flex; }
  .product-change-pages ul li {
    margin-right: 2px;
    border: 1px solid #e5e5e5;
    padding: 4px 12px;
    background-color: #979898;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.2s ease-in all; }
    .product-change-pages ul li a {
      color: white; }
  .product-change-pages ul li.active {
    background-color: white; }
    .product-change-pages ul li.active a {
      color: #666666; }
  .product-change-pages ul li:hover {
    background-color: white; }
    .product-change-pages ul li:hover a {
      color: #666666; }

.product-change-pages__description {
  border: 1px solid #e5e5e5;
  padding: 14px 20px 20px;
  color: #666666; }
  .product-change-pages__description p {
    line-height: 25px; }

.change-pages__description__product-information {
  display: flex;
  padding: 25px 0; }
  .change-pages__description__product-information .image {
    width: 300px;
    height: 210px; }
    .change-pages__description__product-information .image img {
      width: 100%;
      height: 100%; }
  .change-pages__description__product-information .desc {
    padding-left: 40px; }
    .change-pages__description__product-information .desc h5 {
      font-size: 20px;
      color: #e3a51e; }
    .change-pages__description__product-information .desc ul > li {
      list-style: disc;
      padding: 3px 0; }

.padding-product {
  padding: 80px 0; }

.product-change-pages__information {
  display: none;
  border: 1px solid #e5e5e5;
  padding: 34px;
  color: #666666; }
  .product-change-pages__information table {
    border: 1px solid #e5e5e5;
    width: 100%; }
    .product-change-pages__information table td {
      border: 1px solid #e5e5e5;
      padding: 12px; }

.product-change-pages__reviews {
  display: none;
  border: 1px solid #e5e5e5;
  padding: 34px;
  color: #666666; }
  .product-change-pages__reviews h5 {
    color: #333333;
    font-size: 18px; }
    .product-change-pages__reviews h5 span {
      color: #e3a51e; }
  .product-change-pages__reviews__admin {
    display: flex;
    margin-bottom: 30px; }
    .product-change-pages__reviews__admin .desc {
      border: 1px solid #e5e5e5;
      padding: 12px;
      margin-left: 10px; }
      .product-change-pages__reviews__admin .desc__ratings i {
        color: #e3a51e; }
      .product-change-pages__reviews__admin .desc p:first-of-type {
        font-size: 12px; }
      .product-change-pages__reviews__admin .desc p:last-of-type {
        font-size: 14px; }
  .product-change-pages__reviews form label {
    display: inline; }
    .product-change-pages__reviews form label span {
      color: red;
      margin-right: 4px; }
  .product-change-pages__reviews form input[type="text"],
  .product-change-pages__reviews form [type="email"] {
    width: 100%;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    transition: 0.2s ease-in all;
    margin: 12px 0; }
  .product-change-pages__reviews form input:focus {
    box-shadow: 0 0 20px 0 skyblue; }
  .product-change-pages__reviews form textarea {
    width: 100%;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    transition: 0.2s ease-in all; }
  .product-change-pages__reviews form textarea:focus {
    box-shadow: 0 0 20px 0 skyblue; }
  .product-change-pages__reviews__note {
    margin: 12px 0; }
    .product-change-pages__reviews__note span {
      color: red;
      font-weight: 500; }
      .product-change-pages__reviews__note span span {
        color: #666666; }
  .product-change-pages__reviews__send span {
    margin-left: 12px; }
  .product-change-pages__reviews button {
    border: none;
    background-color: transparent;
    margin: 18px 0; }

.product-carousel {
  text-align: center; }
  .product-carousel__title h3 {
    font-weight: 600;
    color: #333333; }
  .product-carousel__title p {
    color: #666666; }

@media (max-width: 991px) {
  .product-change-pages ul {
    font-size: 12px; } }

@media (max-width: 800px) {
  .change-pages__description__product-information {
    display: block; }
    .change-pages__description__product-information .image {
      width: 100%;
      height: 380px; } }
